:root {
  color-scheme: light;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  --color-background-page: #e0b9b9;
  --color-background-section: #c1cfda;
  --color-background-header: #eee5e9;
  --color-text-primary: #060606;
  --color-text-dark: #000;
  --color-text-light: #f6faf6;
  --color-text-table: #eaeaea;
  --color-button-bg: #060606;
  --color-button-hover-bg: #f6faf6;
  --color-input-border: #000;
  --color-table-border: #000;
  --color-table-header-bg: #f6f1ef;
  --color-table-cell-bg: #665858;
  --color-title-shadow: rgba(0, 0, 0, 0.5);
  --color-table-shadow: rgba(42, 30, 100, 0.64);
  --color-focus-inner: #fff;
  --color-focus-outer: #000;
  --color-error: #790018;
  --color-warning: #624000;
  --shadow: 2px 3px 2px 4px #aeaeae98;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-width: 320px;
  min-height: 100%;
}

body {
  min-height: 100vh;
}

button,
input {
  font: inherit;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: auto 1fr auto;
  background: var(--color-background-page);
  color: var(--color-text-primary);
}
